absl-py==0.7.1
astor==0.8.0
attrs==18.2.0
bleach==3.1.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
click==6.7
click-log==0.1.8
cymem==2.0.2
distro==1.4.0
docutils==0.14
elasticsearch5==5.5.6
Flask==0.12.4
Flask-Cors==3.0.8
gast==0.2.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
html5lib==1.0.1
idna==2.8
immutables==0.9
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mindmeld==4.1.1
murmurhash==1.0.2
nltk==3.4.3
numpy==1.16.4
pandas==0.24.2
pip==19.0.3
pkginfo==1.5.0.1
plac==0.9.6
preshed==2.0.1
protobuf==3.8.0
py==1.10.0
Pygments==2.4.2
python-crfsuite==0.9.6
python-dateutil==2.8.0
pytz==2019.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.19.2
scipy==0.19.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
six==1.12.0
sklearn-crfsuite==0.3.6
spacy==2.1.6
srsly==0.0.7
tabulate==0.8.3
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
thinc==7.0.8
tqdm==4.32.2
twine==1.13.0
urllib3==1.25.3
wasabi==0.2.2
webencodings==0.5.1
Werkzeug==0.15.4
wheel==0.33.1
wrapt==1.11.2
